@import '../../assets/styles/global.scss';

.rec-container{
  .title{
    color: $main-color-active;
    font-size: px2rem(14);
    text-align: center;
  }
  .rec-content{
    position: relative;
  }
  .banners-wrapper{
    width: 100%;
    height: 0;
    padding-bottom: 34%;
  }
}