@import '../../assets/styles/global.scss';

.recommend-container{
  padding-top: px2rem(66);
  box-sizing: border-box;
  .title{
    color: $main-color-active;
    font-size: px2rem(14);
    text-align: center;
  }
}