@import '../../assets/styles/global.scss';

.tab-container {
  position: fixed;
  flex-direction: row;
  @include center();
  top: px2rem(36);
  left: 0;
  right: 0;
  z-index: 1999;
  line-height: px2rem(30);
  background-color: $main-bg;
  font-size: px2rem(12);
  .tab-item{
    flex:1;
    @include center();
    color: $main-color;
    text-decoration: none;
    &.active{
      color: $main-color-active;
      .tab-name{
        position: relative;
        &::after{
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: px2rem(2);
          background-color: $main-color-active;
        }
      }
    }
  }
}